<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Amazon Suite">

<listeners>
<listener class-name ="com.amazon.extendReportListener.ExtentReportListener">

</listener>
</listeners>
  <test name="Amazon test">
  
  
  
     <classes>
         <class name="com.amazon.testcases.LoginPageTest"/>
         <class name="com.amazon.testcases.HomePageTest"/>
         <class name="com.amazon.testcases.ProfilePageTest"/>
     </classes>
     
     
  </test>
  
</suite>